.dropdown-container {
  display: inline;
  position: relative;
  color: var(--main-color);
  cursor: pointer;
}

.dropdown-container::after {
    display: inline-block;
  content: "▼";
  transform: scale(0.5);
}

.dropdown-basic {
  display: inline;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
}

.dropdown-menu.hidden {
    display: none;
}

.dropdown-menu > *:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
}
