.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: var(--font-size-normal);
  color: #4b4b4b;
}

.login-input {
  width: 25%;
  min-width: 300px;
  box-sizing: border-box;
  color: var(--dark-color);
}

.login-button {
  width: 25%;
  min-width: 300px;
}

