body {
  --main-color: #ff9500;
  --secondary-color: #ffffff;
  --border-radius-main: 25px;
  --border-radius-secondary: 10px;
  --font-size-normal: 24px;
  --font-size-smaller: 20px;
  --font-size-big: 48px;
  --font-size-biggest: 72px;
  margin: 0;

  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}
